.App{
  width: 100vw;
  height: 100vh;
}

.container{
  display: flex;
  height: 100vh;
}


body{
  margin:0;
  padding:0;
}

.Sidebar{
  height: 100%;
  width:250px;
  background-color: #2f4050;
}

.SidebarList{
  height:100%;
  width:100%;
  padding: 0;
}

.SidebarList.row{
  width: 100%;
  height:50px;
  border: 1px solid black;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;

}
.Label {
  color: rgb(207, 99, 207); 
  font-weight: bold;
  font-size: 20px;
}

.HomePageButton{
    color:white
}

.MyProject {
  color: aqua; /* Text color for "My Projects" */
}

.CollabProject {
  color: rgb(184, 247, 184); /* Text color for "Collab Projects" */
}